################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Pokedex/Pokedex/bin
/Pokedex/Pokedex/obj
/Pokedex/Pokedex.Android/bin
/Pokedex/Pokedex.Android/obj
/Pokedex/Pokedex.iOS/obj
/Pokedex/Pokedex.iOS/bin
/PokedexTest/bin
/PokedexTest/obj
