################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Pokedex/Pokedex/bin/Debug/netstandard2.0
/Pokedex/Pokedex/obj
/Pokedex/Pokedex.Android/bin/Debug
/Pokedex/Pokedex.Android/obj
/Pokedex/Pokedex.iOS/obj
